html,
body {
    height: 100vh;
    width: 100%;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    background: url('https://www.coinslot.co.uk/wp-content/uploads/2017/01/2506-review-nsm-music-background.jpg');
      background-size: cover;
      background-position: center;
}

.search {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    margin: 0;
    background: linear-gradient(141deg, #474998 0%, #5f7b96 51%, #91999c 75%);
    z-index: 1;
    padding: 20px 0;
}

.form-group .search-input {
    width: 0;
    border: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    height: 74px;
    font-size: 50px;
    color: #fff;
    transition:all ease-in-out 1.3s;
}

.form-group .search-input:focus {
    box-shadow: none;
    border-bottom: 1px solid #fff;
}

.search-result-image {
    width: 100px;
    height: 100px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{color: #fff!important;}

.search-container {
    height: calc(100vh - 189px);
    overflow: scroll;
}

.col-centered {
    float: none;
    margin: auto;
}

.padding-10 {
    padding: 10px;
}

.jumbotron p {
    font-size: 15px;
    margin: 15px;
}

.ptb-5 {
    padding: 5px 0px;
}

.disable-table {
    display: table;
}

.disable-table-cell {
    display: table-cell;
}

.vertical-middle {
    vertical-align: middle;
}

.p0 {
    padding: 0px;
}

.p5 {
    padding: 5px;
}

.search-result-box-shadow {
    box-shadow: 0px 0px 4px -1px black;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    transition: all cubic-bezier(0, 0, 0.09, 1.01) .3s;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.mt-10 {
    margin-top: 10px;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.h100 {
    height: 100px;
}

.search-add-btn {
    margin-left: auto;
    border-radius: 0;
    padding: 0 30px;
    font-size: 25px;
}

.translate-0 {
    transition:all ease-in-out 1s;
    height: calc(100vh - 50px);
    opacity: 1;
    visibility: visible;
}

.translate-1 {
    transition: all ease-in-out 1s;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.vhidden{
    visibility: hidden;
}
.translate-0 .form-group .search-input{
    width:100%;
    transition:all ease-in-out 1.3s;
}
.navbar-default{background:#000;border:0;border-radius: 0;}
.navbar-default .navbar-nav>li>a .fa{
  font-size: 18px;
}
.bg-white p{
  margin: 0
}
.playlist-item{
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.46);
    transition: all ease-in-out 1s;
    border:0;
    overflow: hidden;
    position: relative;
}
.playlist-item .item-overlay{
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.42);
    width: 100%;
    height: 100%;
    transition: all ease-in-out 1s;
    opacity: 0;
    visibility: hidden;
}
.playlist-item:hover .item-overlay{
    opacity: .7;
    visibility: visible;
    transition: all ease-in-out 1s;
}
.playlist-item img{
    transform: scale(1);
    transition: all ease-in-out 1s;
}
.playlist-item:hover img{
    transform: scale(2);
    transition: all ease-in-out 1s;
}
.playlist-item .downLoad {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: orange;
    border-radius: 100%;
    padding: 15px 19px;
    color: #fff;
    transform: translate3d(42px, -62px, -135px);
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 1s;
}
.playlist-item:hover .downLoad{
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
    transition: all ease-in-out 1s;
    z-index: 12;
}
a.homeSearch span{
    animation: bounce 5s infinite;
    animation-play-state: running;
}
a.homeSearch, span.expand{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    color: #424329;
}
span.expand{
    color: #fff;
    z-index: 15;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 1s;
    font-size: 90px;
    color: rgba(255, 255, 255, 0.72);
}
.playlist-item:hover span.expand{
    visibility: hidden;
    opacity: 1;
    transition: all ease-in-out 1s;
}
.search-container .row{
    transition: all ease-in-out 1s;
    transform: translateX(-100%);
}
.search-container .row.repaeted{
    transition: all ease-in-out 2s;
    transform: translateX(0);
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes bounce {
    0%   {transform: scale(0);}
    25%  {transform: scale(1.5);}
    50%  {transform: scale(0);}
    100% {transform: scale(1.5);}
}

/* Standard syntax */
@keyframes bounce {
  0%   {transform: scale(1);}
  25%  {transform: scale(1.5);}
  50%  {transform: scale(1);}
  75% {transform: scale(1.5);}
  100% {transform: scale(1);}
}
