.search {
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    height: calc(100vh - 52px);
    margin: 0;
}

.form-group .search-input{
    border: 0px;
    border-bottom: 1px solid;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    height: 74px;
    font-size: 50px;
}

.form-group .search-input:focus{
    box-shadow: none;
}