html,
body {
    height: 100%;
    widows: 100%;
}

.search {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    margin: 0;
    background: linear-gradient(141deg, #474998 0%, #5f7b96 51%, #91999c 75%);
    z-index: 1;
}

.form-group .search-input {
    width: 0;
    border: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    height: 74px;
    font-size: 50px;
    color: #fff;
    transition:all ease-in-out 1.3s;
}

.form-group .search-input:focus {
    box-shadow: none;
    border-bottom: 1px solid #fff;
}

.search-result-image {
    width: 100px;
    height: 100px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{color: #fff!important;}

.search-container {
    height: calc(100vh - 189px);
    overflow: scroll;
}

.col-centered {
    float: none;
    margin: auto;
}

.padding-10 {
    padding: 10px;
}

.jumbotron p {
    font-size: 15px;
    margin: 15px;
}

.ptb-5 {
    padding: 5px 0px;
}

.disable-table {
    display: table;
}

.disable-table-cell {
    display: table-cell;
}

.vertical-middle {
    vertical-align: middle;
}

.p0 {
    padding: 0px;
}

.p5 {
    padding: 5px;
}

.search-result-box-shadow {
    box-shadow: 0px 0px 4px -1px black;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    transition: all cubic-bezier(0, 0, 0.09, 1.01) .3s;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.mt-10 {
    margin-top: 10px;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.h100 {
    height: 100px;
}

.search-add-btn {
    margin-left: auto;
    border-radius: 0;
    padding: 0 32px;
}

.translate-0 {
    transition:all ease-in-out 1s;
    height: calc(100vh - 50px);
    opacity: 1;
    visibility: visible;
}

.translate-1 {
    transition: all ease-in-out 1s;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.vhidden{
    visibility: hidden;
}
.translate-0 .form-group .search-input{
    width:100%;
    transition:all ease-in-out 1.3s;
}
.navbar-default{background:#000;border:0;border-radius: 0;}